/*Flex-Wrapper*/

.Flex-Wrapper{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
}
.Flex-Wrapper img{
    width: 75px;
    height: 75px;

}
.Flex-Wrapper li{
    align-self: center;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 500;
}
.Flex-Wrapper li:hover{
    text-decoration: underline;
    transition: ease-in-out 250ms;
    cursor: pointer;
}
/*Navbar */
.Nav-Wrapper{
    width: 70%;

}
/*HTML*/
html{
background-color: #FFFC00;
}

.Nav-Display{
    display: none;
}
.Nav-Display{
    list-style: none;
}
.Nav-Display {
    list-style: none;
    display: flex;
}
.Nav-Display img{
    width: 75px;
    height: 75px;
}
/*  MENU BTN */
 .menu-btn {
    display: none;
  }
  
   .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
   .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
   .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
   .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
   .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
   .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

.Nav-Display{
    display: none;
}
@media (max-width:850px) {
    .Nav-Wrapper{
        width: 90%;
    }
}
@media (max-width:750px) {
    .Flex-Wrapper{
        display: none;
    }
    .Nav-Display{
        display: flex;
    }

}
 .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

   ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
   li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
  
   li a:hover,
   .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
   .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
   .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
   .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
   .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
   .menu-icon .navicon:before,
   .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
   .menu-icon .navicon:before {
    top: 5px;
  }
  
   .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
   .menu-btn {
    display: none;
  }
  
   .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
   .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
   .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
   .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
   .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
   .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  

@media (min-width: 48em) {
     .menu {
      clear: none;
      float: right;
      max-height: none;
    }
     .menu-icon {
      display: none;
    }
    .menu-btn{
        display: block;
    }
  }

